@model IEnumerable<Listownik.Entities.ListyEntity>

@{
    ViewData["Title"] = "Listy";
}

<h1>Listy</h1>

@foreach (var lista in Model)
{
    <div>
        <h2>@lista.Nazwa
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#wpisy-@lista.Id" aria-expanded="false" aria-controls="wpisy-@lista.Id">
            Pokaż/Ukryj Wpisy
            </button>
        </h2>
        <div class="collapse" id="wpisy-@lista.Id">
            <ul>
                @foreach (var wpis in lista.Wpisy)
                {
                    <li>
                        <strong>@wpis.Nazwa</strong> - @wpis.Opis (Ilość: @wpis.Ilosc)
                    </li>
                }
            </ul>
        </div>
    </div>
}
<p><h2>
<a asp-action="Create">Nowa lista</a>
</h2></p>