@{
    ViewData["Title"] = "Index";
}

<p>Witamy w aplikacji Listownik!</p>
<p>
    Listownik to nowoczesna aplikacja do zarządzania listami zadań i notatkami. Dzięki niej możesz:
    <ul>
        <li>Łatwo organizować swoje codzienne obowiązki</li>
        <li>Tworzyć i zarządzać listami zakupów</li>
        <li>Przechowywać ważne notatki w jednym miejscu</li>
        <li>Udostępniać listy i notatki innym użytkownikom</li>
        <li>Synchronizować dane między różnymi urządzeniami</li>
    </ul>
    Dołącz do nas już teraz i zacznij korzystać z Listownika, aby zwiększyć swoją produktywność i lepiej zarządzać swoim czasem!
</p>
<p>
    <a href="@Url.Action("Login", "Account")">Zaloguj się</a> lub 
    <a href="@Url.Action("Register", "Account")">zarejestruj</a> aby korzystać z aplikacji.
</p>
